@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'cairo';
    color: white;
}

:root {
    --color-bg: #000000;
    --color-bg-variant: #010202;
    --color-second-bg: rgba(39, 87, 106, 0.452);
    --color-primary: rgb(241, 82, 67);
    --color-primary-variant: rgba(241, 82, 67, .3);
    --color-white: #feefc3;
}

body {
    background-color: var(--color-bg);
    color: var(--color-white)
}
