.contacts {
    padding: 6rem 0 60rem 0;
    height: 60rem;
    background-color: white;
}

.contactTitle {
    margin-left: 8rem;
    color: black;
    text-shadow:
        0 0 7px rgba(61, 59, 178, .4),
        0 0 10px rgba(61, 59, 178, .2)
}

.contacts path {
    color: var(--color-primary-variant);
}

.contactList {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    text-align: center;
}

.contact {
    display: flex;
    margin: 200px 0 0px 10px;
    font-size: 18px;
}

.contact h4 {
    color: black;
}

.contact > h4 {
    padding-left: 2rem;
    transform: translateY(25%);
}

.icon {
    width: 50px;
    height: 50px;
}

/*========================== MEDIA QUERIES (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1300px) {
    .contactTitle {
        width: 100%;
        text-align: center;
        margin-left: 0rem;
    }
}
