.contacts {
    padding: 6rem 0 60rem 0;
    height: 60rem;
    background-color: white;
    
}

.membersContacts {
    grid-template-columns: 2fr 2fr;
    gap: 5rem;
    display: grid;
    padding: 5rem;
}

.contactTitle {
    margin-left: 8rem;
    color: black;
    text-shadow:
        0 0 7px rgba(61, 59, 178, .4),
        0 0 10px rgba(61, 59, 178, .2)
}

.contactName {
    font-size: 20px;
    position: relative;
    top: -4rem;
}

.contactDescription {
    font-style: italic;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: .5rem;
    position: relative;
    top: -2rem;
}

.contactList {
    top: 2rem;
    position: relative;
    text-align: center;
    background-color: #30091e;
    border-radius: .5rem;
    padding: 2rem;
}
.contactList.v2 {
    background-color: #2e1b37;
}

.contact {
    display: flex;
    margin: 40px 0 20px 0px;
    font-size: 18px;
    align-items: center;
}

.pfp {
    width: 200px;
    height: 200px;
    border-radius: 50rem;
    position:relative;
    top: -5rem;
    border: 5px #30091e solid;
    background-color: #2e1b37;
    animation-name: flipcoin;
    animation-duration: 1s; 
    animation-timing-function: linear;
}

.pfp.v2 {
    border: 5px #2e1b37 solid;
    background-color: #2e1b37;
}

.contact > h4 {
    padding-left: 2rem;
}

.icon {
    width: 25px;
    height: 25px;
}

/*========================== MEDIA QUERIES (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1300px) {
    .contacts {
        height: 90rem;
    }

    .contact > h4 {
        padding-left: 4px;
        font-size: 12px;
    }

    .contactList {
        top: 4rem;
    }

    .contactTitle {
        width: 100%;
        text-align: center;
        margin-left: 0rem;
    }

    .pfp {
        width: 150px;
    }

    .membersContacts {
        grid-template-columns: 1fr;
        gap: 4rem;
        display: grid;
        padding: 1rem;
    }
}
@keyframes flipcoin {
    from {}
    to {transform: rotateY(360deg);}
}
